<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ pageTitle }}" />
    <title>{{ pageTitle }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:500,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/blogpost.css" />
    <link rel="stylesheet" href="../../styles/prism-theme.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148608259-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-148608259-1');
    </script>
  </head>
  <body>
    <div class="container post-container">
      <h1>{{ pageTitle }}</h1>
      {{ content }}
      <div class="back-link">
        <a href="/">â† Back</a>
      </div>
    </div>
  </body>
</html>
