<footer>
  <a
    href="https://lands-upon.netlify.app/"
    class="heading-font | collections-link | lands-upon"
    target="_blank"
    rel="noopener"
  >
    lands upon
  </a>
  <a href="https://inspo-arpit.vercel.app/" class="heading-font | collections-link" target="_blank" rel="noopener">
    inspo
  </a>
</footer>
