<style>
  .top-bar {
    border-bottom: 1px solid #edf2f7;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
</style>
<div class="top-bar">
  <a class="name" href="/">{{ siteMeta.author.name }}</a>
  <a href="/" class="home">
    Home
  </a>
</div>
