---
permalink: bestof22/index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arpit Batra's Best of 2022</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin><link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/bestof22.css" />
  </head>
  <body>
    <header>
      <div class="hero">
        <h1 class="hero-title">
          <span class="lead-text">ARPIT's</span>
          <span class="tail-text">BEST OF 22</span>
        </h1>
        <p class="hero-description | lowercase">
          I came across an yearly
          <a href="https://bestof2019.johanronsse.be/">
            review
          </a>
          by
          <a href="https://twitter.com/wolfr_2">Johan Ronsse</a>
          a few years back and began collecting data about the various types of media I consume in an year.
        </p>
        <p class="hero-description | lowercase">Here's a list of content I enjoyed in 2022.</p>
      </div>
    </header>
    <main>
      <section class="cards | films">
        <div class="cards-header">
          <h2 class="cards-title">films</h2>
          <p class="cards-description | lowercase">I don't watch a lot of movies but do watch some movies if they're "classics" or recommended by "cinephiles"
          </p>
        </div>
        <div class="cards-content">
          <div class="card">
            <img
              src="/assets/bestof22/the-big-lebowski.jpg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>The Big Lebowski</h3>
              <p>Jeffrey “The Dude” Lebowski, a Los Angeles slacker who only wants to bowl and drink White Russians, is mistaken for another Jeffrey Lebowski, a wheelchair-bound millionaire, and finds himself dragged into a strange series of events involving nihilists, adult card producers, ferrets, errant toes, and large sums of money.
              </p>

              <b class="movie-opinion">"Where's the money Lebowski?" is all I have to say about this movie</b>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/goodfellas.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>GoodFellas</h3>
              <p>The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.
              </p>
              <b class="movie-opinion">Henry Hill's outfits in this movie are very
                <a href="https://bamfstyle.com/tag/goodfellas/">dapper</a>.</b>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/the-fallout.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>The Fallout</h3>
              <p>In the wake of a school tragedy, Vada, Mia and Quinton form a unique and dynamic bond as they navigate the never linear, often confusing journey to heal in a world that feels forever changed.
              </p>
              <b class="movie-opinion">The movie's premise is a bit disturbing, so trigger warning!</b>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/ocean-waves.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Ocean Waves</h3>
              <p>At Kichijōji Station, Tokyo, Taku Morisaki glimpses a familiar woman on the platform opposite boarding a train. Later, her photo falls from a shelf as he exits his apartment before flying to Kōchi Prefecture. Picking it up, he looks at it briefly before leaving. As the aeroplane takes off he narrates the events that brought her into his life…
              </p>
              <b class="movie-opinion">This movie is well, a treat to the eyes</b>
            </div>
          </div>
        </div>
      </section>
      <section class="cards | books">
        <div class="cards-header">
          <h2 class="cards-title">books</h2>
          <p class="cards-description | lowercase">In 2022, I read ~8
            <a href="https://www.goodreads.com/review/list/92378107-arpit-batra?read_at=2022">books</a>. Here's my review of the top 3</p>
        </div>
        <div class="cards-content">
          <div class="card">
            <img
              src="/assets/bestof22/guru-dutt.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Guru Dutt: Ek Adhuri Dastan</h3>
              <p>

                देखी जमाने की यारी,
                बिछड़े सभी बारी बारी
                                                                
                                                                Ever since I saw the movie Pyaasa, I have been a fan of Guru Dutt's cinema, so when I saw this book in a bookstore in Delhi, I got it immediately. The book was originally in English, and I read the Hindi translation. 
                                                                
                                                                Although Guru Dutt had a short life, his acting and direction made most of his work timeless.
                                                                His love of art and his unique creative style can be seen all over his work and reading about his journey, and his personal life really removes the curtain and makes for a very interesting read.
                                                                
                                                                His is a sad story and the pathos of his characters ultimately crept into his personal life , it's very sad to have lost such a great visionary so early.
                                                                
                                                                The brightest flame burns out the fastest, Maybe it is true.
                                                                
                                                                I intend to watch more of his cinema, and if you're interested, add Pyaasa and Kaagaz Ke Phool to your watchlist.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/travelling-cat.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>The Travelling Cat Chronicles
              </h3>
              <p>I picked up this book from a bookstore in Pokhra, Nepal. I am fond of Japanese literature/culture and when I saw a cat on the cover and in the book title, I bought it instantly. This is a lovely book, sometimes narrated in 3rd person, and most often from the perspective of Nana, a street cat who's rescued and taken in by our human protagonist, Satoru. We follow along Satoru and Nana's journey through Japan, as they look for a suitable person to adopt Nana as Satoru can no longer keep him. ( Read the book to find out why! ) I was delightfully smiling through the beautiful narration from Nana's perspective. All of the other supporting characters are very well written, and since there aren't many of them, we remember every character as the story goes by. The author has asserted a lot of importance of demonstrating the relationship of the other characters with Satoru, and how they've been involved in Satoru's life in the past.
                Nana, the street cat is of course the hero of the story, and the character is very well written. He is a lovely little cat and reminds me of the mannerisms of the cat in the movie Kiki's Delivery Service. Reading about the various landscapes of Japan, Mount Fuji, the ocean, etc. from the perspective of Nana often left me smiling and wondering.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  The second half of the book gets a little bit uninteresting, and the conclusion is very emotional. Nevertheless, I thoroughly enjoyed reading this book.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/shoe-dog.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Shoe Dog: A Memoir by the Creator of Nike
              </h3>
              <p>A narrative marvel. Although I recently learned that this book was ghostwritten, which makes it even more interesting</p>
            </div>
          </div>
        </div>
      </section>
      <section class="cards | shows">
        <div class="cards-header">
          <h2 class="cards-title">tv shows</h2>
          <p class="cards-description | lowercase">I saw some good tv in '22, mostly british humour</p>
        </div>
        <div class="cards-content">
          <div class="card">
            <img
              src="/assets/bestof22/bad-sisters.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Bad Sisters</h3>
              <p>The five Garvey sisters—Eva, Grace, Ursula, Bibi, and Becka—live in present-day Dublin. After Grace's abusive, controlling husband John Paul dies unexpectedly, the sisters find themselves at the center of a life insurance investigation.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/hullraisers.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Hullraisers</h3>
              <p>A struggling actress, her older sister and their police friend navigate through life, relationships and their friendship in Kingston upon Hull, England.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/ted-lasso.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Ted Lasso</h3>
              <p>An American football coach is hired to manage a British soccer team; what he lacks in knowledge, he makes up for in optimism, determination and biscuits.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="/assets/bestof22/derry-girls.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Derry Girls</h3>
              <p>In Derry, Northern Ireland, a young girl and her cousin embark on many exciting adventures after they attend a Catholic girls' school in the midst of a national conflict.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="cards | music-songs">
        <div class="cards-header">
          <h2 class="cards-title">music - top songs</h2>
          <p class="cards-description | lowercase"></p>
        </div>
        <div class="songs">
          <div class="cards-content">

            <div class="card">
              <img
                src="/assets/bestof22/link-up.jpeg"
                alt=""
                class="card-poster" />
              <div class="card-content">
                <h3>Link up</h3>
                <span class="artists">
                  <a href="https://open.spotify.com/artist/1sSYaQBOI71QZDZ9OWW3hp">Chani Nattan</a>,
                  <a href="https://open.spotify.com/artist/3f7Qfkua3IcRpUFzUaUnrX">Amar Arshi</a>,
                  <a href="https://open.spotify.com/artist/4Lk9Mory8nRTolPO1TMMcN">Inderpal Moga</a>
                </span>
              </div>
            </div>

            <div class="card">
              <img
                src="/assets/bestof22/above-all.jpeg"
                alt=""
                class="card-poster" />
              <div class="card-content">
                <h3>Above All</h3>
                <span class="artists">
                  <a href="https://open.spotify.com/artist/2vJvM1hPBYqDoGBje0kRMd">Jassa Dhillon</a>,
                  <a href="https://open.spotify.com/artist/0QntOArZgiNHoemAzwJPu5">Gur Sidhu</a>,
                </span>
              </div>
            </div>

            <div class="card">
              <img
                src="/assets/bestof22/spaceship.jpeg"
                alt=""
                class="card-poster" />
              <div class="card-content">
                <h3>SPACESHIP</h3>
                <span class="artists">
                  <span>
                    <a href="https://open.spotify.com/artist/6LEG9Ld1aLImEFEVHdWNSB">AP Dhillon</a>,
                    <a href="https://open.spotify.com/artist/6aQfrWHwAcuY8IYItbChZh">Shinda Kahlon</a>,
                    <a href="https://open.spotify.com/artist/4vvW590Gq8dNWsP5BM9FkS">Gminxr</a>
                  </span>
                </span>
              </div>
            </div>

            <div class="card">
              <img
                src="/assets/bestof22/mandeer.jpeg"
                alt=""
                class="card-poster" />
              <div class="card-content">
                <h3>Mandeer</h3>
                <span class="artists">
                  <span>
                    <a href="https://open.spotify.com/artist/64DvMieEUCdrYKmEIhDt8G">Arjan Dhillon</a>
                  </span>
                </span>
              </div>
            </div>

            <div class="card">
              <img
                src="/assets/bestof22/elevated.jpeg"
                alt=""
                class="card-poster" />
              <div class="card-content">
                <h3>Elevated</h3>
                <span class="artists">
                  <span>
                    <a href="https://open.spotify.com/artist/5r3wPya2PpeTTsXsGhQU8O">Shubh</a>
                  </span>
                </span>
              </div>
            </div>

          </div>
          <iframe
            class="songs-embed"
            style="border-radius:12px;padding:1em"
            src="https://open.spotify.com/embed/playlist/5c8NV0ip9HdPj9tosV2HOf?utm_source=generator"
            width="100%"
            height="1000"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
        </div>
      </section>
      <section class="cards | music-artists">
        <div class="cards-header">
          <h2 class="cards-title">music - top artists</h2>
          <p class="cards-description | lowercase"></p>
        </div>
        <div class="cards-content">

          <div class="card">
            <img
              src="/assets/bestof22/siddhu-moosewala.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Sidhu Moose Wala</h3>
            </div>
          </div>

          <div class="card">
            <img
              src="/assets/bestof22/jassa-dhillon.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Jassa Dhillon</h3>
            </div>
          </div>

          <div class="card">
            <img
              src="/assets/bestof22/ap-dhillon.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>AP Dhillon</h3>
            </div>
          </div>

          <div class="card">
            <img
              src="/assets/bestof22/kishore-da.jpeg"
              alt=""
              class="card-poster" />
            <div class="card-content">
              <h3>Kishore Kumar</h3>
            </div>
          </div>

        </div>
      </section>
    </main>
    <footer>
      <p>That's all folks, See you next year</p>
    </footer>
  </body>
</html>