@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'global';

body {
  background-image: url('/assets/images/404.gif');
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 24px;

    h1 {
      font-size: 64px;
    }

    img {
      margin-top: 32px;
    }

    span {
      font-size: 32px;
      margin-top: 40px;
    }
  }
}
