/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../assets/fonts/inter-v3-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/inter-v3-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import "global";

body {
  background-image: url("/assets/images/404.gif");
  background-position: 50%;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 30px;

    h1 {
      font-size: 64px;
    }

    img {
      margin-top: 32px;
    }

    span {
      font-size: 24px;
      margin-top: 40px;
    }
  }
}
