@import 'reset';
@import 'variables';
@import 'utilities';

a {
  color: currentColor;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.25rem;
}

body {
  background: $bg-color;
}
