.lowercase {
  text-transform: lowercase;
}

// https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
.flow > * + * {
  margin-top: 1.5em;
}

.page-wrapper {
  margin: 2rem;
  @media (max-width: $breakpoint-sm) {
    margin: 2rem 1rem;
    margin-bottom: 0;
  }
}

.heading-font {
  font-family: $heading-font;
}

.body-font {
  font-family: $body-font;
}
