// https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
.flow > * + * {
  margin-top: 1.5em;
}

.page-wrapper {
  border: 1.0875rem solid rgb(197, 72, 77);
  padding: 2rem;
  min-height: 100vh;
  @media (max-width: $breakpoint-sm) {
    padding: 1rem;
  }
}

.heading-font {
  font-family: $heading-font;
}

.body-font {
  font-family: $body-font;
}
