// Colors
$bg-color: #fffdff;
$text-color: #000000;
$link-hover-color: #9b362a;
$twitter-hover-color: #00acee;
$email-hover-color: #d44638;
$rss-hover-color: #ee802f;
$github-hover-fill-color: #fefded;
$github-hover-color: #495694;

// Breakpoints
$breakpoint-sm: '640px';
$breakpoint-md: '768px';
$breakpoint-lg: '1024px';
$breakpoint-xl: '1280px';

// Fonts
$heading-font: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$body-font: 'Inter', Arial, Helvetica, sans-serif;
