@import 'global';
@import 'prism-theme';

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../assets/fonts/inter-v3-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

ul {
  list-style-type: circle;
}

.blogpost-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

header {
  font-weight: bold;

  .name {
    font-size: 64px;
    line-height: 78px;

    a {
      text-decoration: none;
    }
  }

  .post-title {
    font-size: 40px;
    line-height: 49px;
    margin-top: 34px;
  }

  .post-date {
    font-weight: 300;
    line-height: 24px;
    display: inline-block;
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 32px;
  justify-content: space-between;

  main {
    max-width: 700px;
  }

  nav {
    display: flex;
    flex-direction: column;

    .nav-item {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & > * + * {
      margin-top: 18px;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 100px 0 32px;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35ch;

    .link {
      .twitter-logo:hover {
        color: $twitter-hover-color;
        fill: $twitter-hover-color;
      }

      .email-logo:hover {
        color: $email-hover-color;
      }

      .rss-logo:hover {
        color: $rss-hover-color;
      }

      .github-logo:hover {
        color: $github-hover-color;
        fill: $github-hover-fill-color;
      }
    }
  }

  .home-link {
    font-size: 24px;
    text-decoration: none;
  }
}

@media (max-width: $breakpoint-md) {
  .content-container {
    nav {
      display: none;
    }
  }

  footer {
    flex-direction: column;
    height: 100px;
  }
}
