@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
.post-container {
  margin-top: 20px;
  max-width: 70ch;

  // https://www.xaprb.com/blog/how-to-style-images-with-markdown/
  img[src*='#markdown'] {
    width: 100%;
  }
  header {
    margin-bottom: 16px;
    .post-date {
      font-size: 14px;
      color: #696969;
    }

    h1 {
      margin-top: 1.25rem;
      font-size: 29px;
      line-height: 32px;
      font-weight: 400;
    }
  }

  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #673ab7;
    border-left: 0.25em solid;
  }

  .content {
    h2 {
      margin: 24px 0 8px;
      font-weight: 400; // normal font weight
    }

    h3 {
      margin: 12px 0;
    }

    p {
      margin-bottom: 10px;
      line-height: 24px;
      font-size: 17px;
    }

    ul {
      list-style-type: none;
      margin-left: 18px;

      & > li::before {
        content: '–'; /* en dash here */
        position: absolute;
        margin-left: -1.1em;
      }
    }
  }

  .back-link {
    margin: 16px 0 24px 0;
  }

  // Select all text wrapped in `` in markdown - generated a `code` tag without a language class
  code:not([class*='language-']) {
    background-color: #f2f2f2;
    color: #1c402a;
    padding: 2px;
  }
}
