.post-container {
  margin-top: 40px;
  line-height: 1.75em;
  h1 {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  p {
    margin: 8px 0;
  }
  .back-link {
    margin: 16px 0 24px 0;
  }
  .lyrics {
    font-style: italic;
    &-hindi {
      font-family: 'Noto Sans', 'Noto Serif KR', 'IBM Plex Sans', sans-serif;
    }
  }
}
