@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;700&display=swap');

:root {
  // https://systemfontstack.com/
  --monospace-font-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --serif-font-stack: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
    Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --sans-serif-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
}

::selection {
  color: white;
  background-color: #673ab7;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', var(--sans-serif-font-stack);
  color: #394655;
  background: #f7fafc;
  font-weight: 400;
}

.hindi-font {
  font-family: 'Cambay', sans-serif;
}

.container {
  margin: 0 auto 32px;
  max-width: 60ch;
}

a {
  text-decoration: none;
  color: #673ab7;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 90vw;
  }
}
