@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  // https://systemfontstack.com/
  --monospace-font-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --base-font-stack: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro,
    serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

::selection {
  color: white;
  background-color: brown;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', var(--monospace-font-stack);
  color: #394655;
  background: #fffef7;
}

.hindi-font {
  font-family: 'Cambay', sans-serif;
}

.container {
  width: 95vw;
  margin: 40px auto;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: brown;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 90vw;
    margin: 30px auto;
  }
}
