::selection {
  color: white;
  background-color: brown;
}

::-moz-selection {
  color: white;
  background-color: brown;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Serif KR', 'IBM Plex Sans', serif;
  background: #f6f6f6;
}

.container {
  margin: 32px 20%;
}

a {
  text-decoration: none;
  color: brown;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 10%;
  }
}
