body {
  text-transform: lowercase;
}

.category {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.posts {
  list-style: none;
  .post {
    margin: 8px 0 12px;
    line-height: 14px;
    &-date {
      font-size: 12px;
      color: #696969;
    }
  }
}

.name {
  color: #253445;
  font-size: 2rem;
  margin-bottom: 8px;
}

p {
  margin: 8px 0;
  line-height: 1.5rem;
}
