@import 'global';

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../assets/fonts/inter-v3-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  max-width: 31.9rem;
  margin: 0px auto;
  flex: 1;

  main {
    margin-top: 32px;

    .about-me {
      font-size: 20px;
      width: 40ch;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .content-container {
    main {
      .about-me {
        font-size: 18px;
        width: unset;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .homepage-container {
    .content-container {
    }

    footer {
    }
  }
}
