@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
body {
  text-transform: lowercase;
  font-family: 'Space Mono', var(--monospace-font-stack);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted saddlebrown;
  padding: 20px;
  border-radius: 3px;
  width: 95vw;
  margin: 40px auto;
  max-width: 600px;
  flex-wrap: wrap;
  a::after {
    content: '/';
  }

  @media (max-width: 425px) {
    border: unset;
    padding: unset;
    justify-content: center;
  }
}

// container styles are also in common.scss but these are the ones we only want on the homepage
.container {
  border: 1px dotted dodgerblue;
  padding: 20px;
  border-radius: 3px;
  @media (max-width: 425px) {
    border: unset;
    padding: unset;
  }
}

.posts-heading {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.posts {
  list-style: none;
  .post {
    margin: 8px 0;
    &-date {
      font-size: 12px;
      color: #696969;
      margin-right: 8px;
    }

    &-title {
      display: inline-block;
      font-weight: 400;
      font-size: 21px;
      line-height: 27px;
    }
  }
  .post-tags {
    font-size: 14px;
    .post-tag {
      a {
        color: #696969;
        text-decoration: underline;
      }
    }
  }
}

.name {
  color: #253445;
  font-size: 2rem;
  margin-bottom: 8px;
}

p {
  margin: 8px 0;
  line-height: 1.4rem;
  font-size: 1rem;
}
