@import 'global';

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../assets/fonts/inter-v3-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: rgb(241 241 241);
  width: 70vw;
  margin: 2rem auto;
}

.komura {
  &-title {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    background: rgb(249 249 249);
    margin-top: 1rem;
    border-radius: 4px;
  }

  &-description {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .books {
    margin-top: 5rem;

    & > * + * {
      margin-top: 5rem;
    }

    .book {
      background: rgb(249 249 249);
      display: flex;
      padding: 2rem;

      &-cover {
        img {
          width: 224px;
          margin-top: 0.8rem;
        }
      }

      &-meta {
        padding: 0 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        .book-title {
          font-size: 2rem;
        }

        .book-review {
          font-size: 1.3rem;
          margin-top: 1rem;
        }

        .review-date {
          font-size: 0.9rem;
          margin-top: 2rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  body {
    width: 95vw;
    margin: 1rem auto;
  }

  .komura {
    &-title {
      font-size: 2rem;
      padding: 2rem;
    }

    &-description {
      font-size: 1rem;
      text-align: center;
    }

    .books {
      margin-top: 2.5rem;

      & > :nth-of-type(even) {
        flex-direction: column;
      }

      .book {
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        &-title {
          margin-top: 1.5rem;
        }

        &-cover {
          margin-top: 0.5rem;
        }

        &-meta {
          padding: 0 32px;
          flex: 1;
          display: flex;
          flex-direction: column;

          .book-title {
            font-size: 1.5rem;
          }

          .book-review {
            font-size: 1rem;
            margin-top: 1rem;
          }

          .review-date {
            font-size: 0.8rem;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}
