body {
  font-family: 'Space Mono', var(--monospace-font-stack);
}

.blog-header {
  border-bottom: 1px solid #edf2f7;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-transform: lowercase;
}

.container {
  .posts-heading {
    margin-top: 24px;
  }
  .posts {
    list-style: none;
    .post {
      margin: 8px 0;
      &-date {
        font-size: 12px;
        color: #696969;
      }

      &-title {
        display: inline-block;
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
      }
    }
  }
}
