body {
  font-family: 'Nunito Sans', var(--sans-serif-font-stack);
}

.container {
  .posts {
    list-style: none;
    .post {
      margin: 8px 0;
      &-date {
        font-size: 12px;
        color: #696969;
      }

      &-title {
        display: inline-block;
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
      }
    }
  }
}
